@model IEnumerable<MyMvcSite.Domain.Models.PostViewModel>
@{
    ViewBag.Title = "Member Posts";
}

<h2>Member Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username.UserName)
            </td>
            @*
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
                </td>
            *@
        </tr>
    }

</table>